@font-face {
  font-family: Source Sans Pro Light; /* Имя шрифта */
  src: url('../fonts/SourceSansProLight.ttf'); /* Путь к файлу со шрифтом */
}


//colors
$main-color: #ff8a1e;
$orange-font: #ffa352;
$grey-font: #4e4e4e;

//fonts
$main-font:  Source Sans Pro Light, Times New Roman, sans-serif;